spring:
  config:
    activate:
      on-profile: test
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: false
        dialect: org.hibernate.dialect.MySQLDialect
        jdbc.time_zone: UTC
        type.preferred_uuid_jdbc_type: CHAR
  flyway:
    enabled: true
    locations:
      - classpath:db/migration
    clean-disabled: false

logging:
  level:
    org.hibernate.SQL: warn
