spring:
  config:
    activate:
      on-profile: test
  datasource:
    url: jdbc:h2:mem:joopang-test;MODE=MySQL;DATABASE_TO_LOWER=TRUE;DEFAULT_NULL_ORDERING=HIGH;CASE_INSENSITIVE_IDENTIFIERS=TRUE
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: create-drop
    show-sql: false
    defer-datasource-initialization: true
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: false
        dialect: org.hibernate.dialect.H2Dialect
        jdbc.time_zone: UTC
        type.preferred_uuid_jdbc_type: CHAR
  sql:
    init:
      mode: always
      encoding: UTF-8
      data-locations:
        - classpath:data.sql

logging:
  level:
    org.hibernate.SQL: warn
