spring:
  application:
    name: joopang
  profiles:
    default: local
  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}

server:
  port: ${SERVER_PORT:8083}

decorator:
  datasource:
    p6spy:
      enable-logging: true

joopang:
  cache:
    popular-products:
      ttl-seconds: ${POPULAR_PRODUCTS_CACHE_TTL_SECONDS:1000}
  jobs:
    popular-products-cache-warmup:
      enabled: true
      refresh-interval-ms: 55000
      targets:
        - days: 3
          limit: 5

coupon:
  issue:
    async-enabled: true
    queue:
      prefix: coupon:queue-position
      ttl-seconds: 86400
      average-processing-millis: 50
    stream:
      request-key: coupon:request-stream
      issue-key: coupon:issue-stream
      group: coupon-issue-group
      consumer: coupon-issue-consumer
    worker:
      enabled: true
      poll-timeout-millis: 500
