spring:
  config:
    activate:
      on-profile: test
  datasource:
    url: jdbc:h2:mem:joopang;MODE=MySQL;DATABASE_TO_UPPER=false;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    username: sa
    password:
    driver-class-name: org.h2.Driver
  jpa:
    open-in-view: false
    defer-datasource-initialization: true
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: false
        jdbc.time_zone: UTC
        type.preferred_uuid_jdbc_type: CHAR
        database.metadatabuilder.skip_sequence_information: true
  flyway:
    enabled: false
  sql:
    init:
      mode: always
      encoding: UTF-8
      schema-locations:
        - classpath:db/test/V1__init_schema.sql
      data-locations:
        - classpath:db/test/V2__seed_data.sql

logging:
  level:
    org.hibernate.SQL: warn
