apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: coupon-mysql
  namespace: joopang
  annotations:
    sidecar.istio.io/inject: "false"
spec:
  serviceName: coupon-mysql
  replicas: 1
  selector:
    matchLabels:
      app: coupon-mysql
  template:
    metadata:
      labels:
        app: coupon-mysql
      annotations:
        sidecar.istio.io/inject: "false"
    spec:
      containers:
        - name: mysql
          image: mysql:8.0.36
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 3306
          env:
            - name: MYSQL_DATABASE
              value: coupon_service
            - name: MYSQL_ROOT_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: coupon-mysql-secret
                  key: mysql-root-password
            - name: MYSQL_USER
              valueFrom:
                secretKeyRef:
                  name: coupon-mysql-secret
                  key: mysql-username
            - name: MYSQL_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: coupon-mysql-secret
                  key: mysql-password
            - name: TZ
              value: Asia/Seoul
          volumeMounts:
            - name: mysql-data
              mountPath: /var/lib/mysql
          resources:
            requests:
              cpu: 250m
              memory: 512Mi
            limits:
              cpu: 500m
              memory: 1Gi
  volumeClaimTemplates:
    - metadata:
        name: mysql-data
      spec:
        accessModes:
          - ReadWriteOnce
        resources:
          requests:
            storage: 8Gi
