spring:
  config:
    activate:
      on-profile: stage
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: false
        jdbc.time_zone: UTC
        type.preferred_uuid_jdbc_type: CHAR
  flyway:
    enabled: true
    locations:
      - classpath:db/migration
    baseline-on-migrate: true
    baseline-version: 2
    baseline-description: 'Baseline existing schema'
    clean-disabled: true

logging:
  level:
    org.hibernate.SQL: warn
