spring:
  application:
    name: order-service
  profiles:
    default: local
  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}
  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:localhost:9092}
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
    consumer:
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: '*'

server:
  port: ${SERVER_PORT:8083}

decorator:
  datasource:
    p6spy:
      enable-logging: true

joopang:
  cache:
    popular-products:
      ttl-seconds: ${POPULAR_PRODUCTS_CACHE_TTL_SECONDS:1000}
  jobs:
    popular-products-cache-warmup:
      enabled: true
      refresh-interval-ms: 55000
      targets:
        - days: 3
          limit: 5

kafka:
  topics:
    order-paid: ${ORDER_PAID_TOPIC:order-paid}
    coupon-command: ${COUPON_COMMAND_TOPIC:coupon-command}
    coupon-command-reply: ${COUPON_COMMAND_REPLY_TOPIC:coupon-command-reply}
  coupon-client:
    group-id: ${COUPON_CLIENT_GROUP_ID:order-coupon-client}
    timeout-millis: ${COUPON_CLIENT_TIMEOUT:5000}
